@charset "Shift_JIS";

.header_pointer {
    position: absolute;
    height: 100%;
    width: auto;
    left: 280px;
    top: 0;
    transition-duration: 0.25s;
    z-index: 2;
}

.header_pointer.navHover01 {
    left: 280px;
}

.header_pointer.navHover02 {
    left: 445px;
}

.header_pointer.navHover03 {
    left: 610px;
}

.header_pointer.navHover04 {
    left: 770px;
}

.back_titlelogo_9 {
    margin-left: 8px;
    font-size: 110px;
}

.back_titlelogo_net {
    font-size: 25px;
}

.contents_projects {
    position: relative;
    width: 80vw;
    top: -90px;
    margin: 0 auto;
    padding: 5px 0;
}

.contents_projects_title {
    position: absolute;
    margin: 5px;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    color: #BAA893;
    letter-spacing: 10px;
    top: -45px;
    left: 0;
}

.contents_projects_ul_li {
    position: relative;
    padding: 0;
    display: flex;
    width: 100%;
}

.contents_projects_ul {
    margin: 2%;
    padding: 0;
}

.contents_projects_ul_li_items {
    width: auto;
    z-index: 0;
    margin: 0 2.5px;

}

.contents_projects_ul_li_items img {
    width: 100%;

}



.contents_about_title {
    position: absolute;
    margin: 5px;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    color: #BAA893;
    letter-spacing: 10px;
    top: -45px;
    right: 0;

}

.contents_about {
    position: relative;
    width: 80vw;
    top: -90px;
    margin: 0 auto;
    padding: 5px 0;
    margin-top: 150px;
    text-align: right;
    background: linear-gradient(to right, transparent, #c9c0af);
}

.contents_about_textbox {
    display: inline-block;
    margin: 20px;
}

.contents_about_textbox_namem {
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 15px;
    font-weight: 300;
    line-height: 0;
}

.contents_about_textbox_names {
    font-weight: normal;
    font-size: 21px;
    letter-spacing: 10px;
    line-height: 20px;
    font-weight: 300;
}

.contents_about_textbox_text {
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 6px;
    line-height: 35px;
    padding-top: 20px;
}
.back2{
    position: relative;
    bottom: 0;
    z-index: -10;

}
.back2_layer{
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 0;

}
.back2_layer_back{
        clip-path: polygon(0 0, 0% 100%, 100% 100%);
    background-color: black;
}
