@charset "Shift_JIS";

.header_pointer {
    position: absolute;
    height: 100%;
    width: auto;
    left: 445px;
    top: 0;
    transition-duration: 0.25s;
    z-index: 2;
}

.header_pointer.navHover01 {
    left: 280px;
}

.header_pointer.navHover02 {
    left: 445px;
}

.header_pointer.navHover03 {
    left: 610px;
}

.header_pointer.navHover04 {
    left: 770px;
}

.contents_thumbnail {
    position: relative;
    width: 80vw;
    min-width: 1000px;
    top: -90px;
    margin: 0 auto;
    padding: 5px 0;
}

.contents_thumbnail_title {
    position: absolute;
    margin: 5px;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    color: #BAA893;
    letter-spacing: 10px;
    top: -45px;
    left: 0;
}

.contents_thumbnail_ul_li {
    position: relative;
    padding: 0;
    display: flex;
    width: 100%;
}

.contents_thumbnail_ul {
    margin: 2%;
    padding: 0;
}

.contents_thumbnail_ul_li_items {
    width: auto;
    z-index: 0;
    margin: 0 2.5px;

}

.contents_thumbnail_ul_li_items img {
    width: 100%;
}

.back2 {
    position: relative;
    bottom: 0;
    z-index: -10;

}

.back2_layer {
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 0;

}

.back2_layer_back {
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    background-color: black;
}


.contents_detail {
    position: relative;
    width: 80vw;
    min-width: 1000px;
    top: -90px;
    margin: 0 auto;
    padding: 5px 0;
    margin-top: 100px;
    text-align: left;
    background-color: #c9c0af;
}

.contents_detail_title {
    position: absolute;
    margin: 5px;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    color: #BAA893;
    letter-spacing: 10px;
    top: -45px;
    left: 0;

}


.contents_detail_textbox {
    display: inline-block;
    margin: 20px;
    padding: 0;
}


.contents_detail_textbox_text {
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 6px;
    line-height: 35px;
    padding-top: 20px;
}

.contents_detail_table {
    margin: 20px 0;

    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 20px;
    background-color: #463E35;

}

.contents_detail_table th,
.contents_detail_table td {
    padding: .5em 2em;
    border: 2px solid #C9C0AF;

    font-weight: normal;
    font-size: 15px;
    letter-spacing: 6px;
    color: #BAA893;

}

.contents_assets {
    position: relative;
    width: 80vw;
    min-width: 1000px;
    top: -90px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: left;
    background-color: #c9c0af;
}

.contents_assets_title {
    position: absolute;
    margin: 5px;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    color: #BAA893;
    letter-spacing: 10px;
    top: -45px;
    left: 0;
}

.contents_assets_box_flex {
    position: relative;
    width: 100%;
    display: flex;
}

.contents_assets_box_flex a {
    margin: 5px;
    background-color: #463E35;
}

.contents_assets_box_flex_item {
    width: 100%;
    margin: 0;
    padding: 0;
}

.contents_assets_box_flex h3 {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 18px;
    color: #BAA893;
    letter-spacing: 6px;
    top: -45px;
    left: 0;
    margin: 5px;
}

.contents_assets_box {
    margin: 2%;
    padding: 2% 0;
}

.contents_assets_april_captionbox_image {
    position: relative;
    display: block;
    width: 100%;
}

.contents_assets_april {
    position: relative;
    width: auto;
    margin-top: 150px;

}

.contents_assets_april_captionbox_name {
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 15px;
    font-weight: 300;
}

.contents_assets_april_captionbox_text {
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 6px;
    line-height: 20px;
}

.contents_assets_april_captionbox {
    position: relative;
    margin: 0 3%;
}


.contents_assets_april_table {
    position: absolute;
    margin: 20px 0;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 20px;
    background-color: #463E35;
    margin-right: 0;
    right: 0;
    top: 0;
    z-index: 2;
}

.contents_assets_april_table th,
.contents_assets_april_table td {
    padding: .5em 2em;
    border: 2px solid #C9C0AF;

    font-weight: normal;
    font-size: 15px;
    letter-spacing: 6px;
    color: #BAA893;

}

.contents_assets_april_modeling_flex {
    position: relative;
    display: flex;
}

.contents_assets_april_modeling_flex_item {
    margin: 10px;
}

.contents_assets_april_modeling_flex_item_2di,
.contents_assets_april_modeling_flex_item_6image {
    position: relative;
    display: block;
    width: 100%;
}

.contents_assets_april_modeling_flex_item_2di {
    position: relative;
}

.contents_assets_april_modeling {
    position: relative;
    margin: 0 3%;
}

.contents_assets_april_modeling_name {
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 15px;
    font-weight: 300;
}

.contents_assets_april_modeling_name_april {
    font-size: 20px;
}

.contents_assets_april_modeling_flex_item_text {
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 6px;
    line-height: 20px;
    margin: 5%;
}

.contents_assets_april_modeling_flex_item_text2 {
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 6px;
    line-height: 20px;
    margin: 2.5% 5%;
}



.contents_assets_april_setup {
    position: relative;
    margin: 0 3%;
}

.contents_assets_april_setup_name {
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 15px;
    font-weight: 300;
}



.contents_assets_box_flex_item_image01{
    width: 100%;
}

.contents_assets_box_flex_item1_text {
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 6px;
    line-height: 20px;
    margin: 2.5% 5%;
}

.contents_assets_box_flex_item1_flex1{
    width: 35%;
}
.contents_assets_box_flex_item1_flex2{
    width: 54.5%;
}
.contents_assets_box_text{
        font-weight: normal;
    font-size: 14px;
    letter-spacing: 6px;
    line-height: 20px;
    margin: 0;
}
.contents_assets_april_setup_2{
    position: relative;
    margin: 0 2%;
}
.contents_assets_april_setup_2_img{
    width: 100%;
}
.contents_assets_april_setup_2_text{
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 6px;
    line-height: 20px;
    margin: 2.5% 5%;
}
.contents_assets_april_setup_2_flex{
    display: block;
    width: 100%;
}
.contents_assets_april_setup_2_flex_img1{
    display: inline-block;
    width: 44%;
}
.contents_assets_april_setup_2_flex_img2{
    display: inline-block;
    width: 55%;
}



.contents_assets_alice{
        margin-top: 150px;
}
.contents_assets_alice_captionbox_name {
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 15px;
    font-weight: 300;
}

.contents_assets_alice_captionbox_text {
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 6px;
    line-height: 20px;
}

.contents_assets_alice_captionbox {
    position: relative;
    margin: 0 3%;
}


.contents_assets_alice_table {
    position: absolute;
    margin: 20px 0;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 20px;
    background-color: #463E35;
    margin-right: 0;
    right: 0;
    top: 0;
    z-index: 2;
}

.contents_assets_alice_table th,
.contents_assets_alice_table td {
    padding: .5em 2em;
    border: 2px solid #C9C0AF;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 6px;
    color: #BAA893;
}

.contents_assets_alice_captionbox_image {
    position: relative;
    display: block;
    width: 100%;
}

.contents_assets_sutdyroom{
        margin-top: 150px;
}


.contents_assets_alice_items{
    padding-bottom: 100px;
}

.contents_assets_alice_items_ul_li {
    position: relative;
    padding: 0;
    display: flex;
    width: 100%;
}

.contents_assets_alice_items_ul {
    margin: 2%;
    padding: 0;
}

.contents_assets_alice_items_ul_li_items {
    width: auto;
    z-index: 0;
    margin: 2.5px;
background-color: #463E35;
}

.contents_assets_alice_items_ul_li_items img {
    width: 100%;
}
