@charset "Shift_JIS";

body{
    background-color: #725341;
}
.back{
    background-color: #725341;
}
.contents{
    top: -50px;
}

.back_titlelogo_text{
    font-size: 68px;
    font-weight: 200;
}
.header_pointer {
    position: absolute;
    height: 100%;
    width: auto;
    left: 445px;
    top: 0;
    transition-duration: 0.25s;
    z-index: 2;
}

.header_pointer.navHover01 {
    left: 280px;
}

.header_pointer.navHover02 {
    left: 445px;
}

.header_pointer.navHover03 {
    left: 610px;
}

.header_pointer.navHover04 {
    left: 770px;
}

.contents_thumbnail {
    position: relative;
    width: 80vw;
    min-width: 1000px;
    top: -90px;
    margin: 0 auto;
    padding: 5px 0;
}

.contents_thumbnail_title {
    position: absolute;
    margin: 5px;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    color: #BAA893;
    letter-spacing: 10px;
    top: -45px;
    left: 0;
}

.contents_thumbnail_ul_li {
    position: relative;
    padding: 0;
    display: flex;
    width: 100%;
}

.contents_thumbnail_ul {
    margin: 2%;
    padding: 0;
}

.contents_thumbnail_ul_li_items {
    width: auto;
    z-index: 0;
    margin: 0 2.5px;

}

.contents_thumbnail_ul_li_items img {
    width: 100%;
}



.contents_detail {
    position: relative;
    width: 80vw;
    min-width: 1000px;
    top: -90px;
    margin: 0 auto;
    padding: 5px 0;
    margin-top: 100px;
    text-align: left;
    background-color: #c9c0af;
}

.contents_detail_title {
    position: absolute;
    margin: 5px;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    color: #BAA893;
    letter-spacing: 10px;
    top: -45px;
    left: 0;

}


.contents_detail_box {
    display: inline-block;
    margin: 20px;
    padding: 0;
}


.contents_detail_box_text {
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 6px;
    line-height: 35px;
}

.contents_detail_table {
    margin: 20px 0;

    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 20px;
    background-color: #463E35;

}

.contents_detail_table th,
.contents_detail_table td {
    padding: .5em 2em;
    border: 2px solid #C9C0AF;

    font-weight: normal;
    font-size: 15px;
    letter-spacing: 6px;
    color: #BAA893;

}
.contents_detail_box_fullimage ,.contents_detail_box_tex{
    width: 100%;
}
