@charset "Shift_JIS";
* {
    margin: 0;
    padding: 0;
}
/*----------PUBLIC----------*/
body {
    background-color: #524942;
}

h1 {
    font-family: "M PLUS Rounded 1c";
    font-weight: normal;
}

h2 {
    font-family: "M PLUS Rounded 1c";
    font-weight: normal;
    letter-spacing: 6px;
}

h3 {
    font-family: "M PLUS Rounded 1c";
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 10px;
}

p {
    font-family: "M PLUS Rounded 1c";
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 5px;
    line-height: 35px;
}

small {
    font-family: "M PLUS Rounded 1c";
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 5px;
}
/*----------ANIMATION----------*/

@keyframes UleftToCenter {
    15% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
    100% {
        clip-path: polygon(100% 0, 100% 0, 100% 650px, 0 100%, 0 650px);
    }
}
@keyframes BleftToCenter {
    15% {
        clip-path: polygon(0 100%, 0% 100%, 0 100%);
    }
    100%{
        clip-path: polygon(0 0, 0% 100%, 100% 100%);
    }
}


/*----------NAV----------*/

.headerBox * {
    width: 100%;
}

.headerBox {
    clip-path: polygon(100% 0, 100% 100%, 180px 100%, 130px 75%, 80px 100%, 0 100%, 0 0);
    position: absolute;
    width: 100%;
    background: black;
    display: flex;
    height: 50px;

    z-index: 1;
    transition-property: all;
    transition-duration: 0.25s;
}

.headerBox.navHover01 {
    clip-path: polygon(100% 0, 100% 100%, 180px 100%, 130px 75%, 80px 100%, 0 100%, 0 0);
}

.headerBox.navHover02 {
    clip-path: polygon(100% 0, 100% 100%, 360px 100%, 310px 75%, 260px 100%, 0 100%, 0 0);
}

.headerBox.navHover03 {
    clip-path: polygon(100% 0, 100% 100%, 550px 100%, 500px 75%, 450px 100%, 0 100%, 0 0);
}

.headerBox.navHover04 {
    clip-path: polygon(100% 0, 100% 100%, 750px 100%, 700px 75%, 650px 100%, 0 100%, 0 0);
}

.headerBox img {
    width: auto;
    padding-right: 1.5%;
}

.navLinkBox {
    margin-top: auto;
    margin-bottom: auto;
}

.navLinkBox ul {
    margin: 0;
    padding: 0;
    width: 700px;
    list-style-type: none;
    display: flex;
}

.navLinkBox li {
    position: relative;
    width: auto;
    height: 100%;
    left: 10px;
    padding-bottom: 10px;
}

.navLinkBox p {
    display: flex;
    margin-left: 80px;
    align-items: center;
    color: white;
    width: auto;
    font-size: 12px;
    letter-spacing: 10px;
    padding-left: 8px;
}

.navLinkBox a {
    text-decoration: none;
}

.navLine {
    position: absolute;
    border-right: solid 1px white;
    width: 100%;
    height: 10%;
    top: 27%;
    margin-left: 40px;
}

/*----------KEYIMAGE----------*/

.keyImage {
    position: relative;
    width: 100%;
    top: 40px;
    right: 0;
    clip-path: polygon(0 0, 100% 0, 100% 650px, 0 650px);
}


.backImage {
    animation-duration: 1.5s;
    animation-name: UleftToCenter;
    animation-fill-mode: forwards;

}

.keyImage img {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    bottom: auto;
}

/*----------MAIN----------*/

.content {
    position: relative;
    width: 100%;
    height: auto;
    top: 570px;
}

main {
    position: relative;
    width: 1000px;
    margin: auto;
}

.box {
    position: static;
    background-color: #c9c0af;
    border-radius: 15px;
    border: solid 3px #876002;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    ;
}

.box h2 {
    position: relative;
    top: -50px;
    height: 0;
    color: white;
}
.titleLogo{
    position: absolute;
    top: -450px;
}
.titleLogo h1 {
    color: white;
    font-size: 40px;
    letter-spacing: 10px;
    text-align: right;
    line-height: 40px;
}
.titleLogo_9{
    margin-left: 8px;
    font-size: 110px;
}
.titleLogo_net{
    font-size: 15px;
}
.titleLogo p{
    margin-top: 40px;
    margin-right: 40px;
    font-size: 20px;
    letter-spacing: 8px;
    color: white;
    text-align: right;
}

/*----------WORL----------*/

.flexSlideBox {
    padding-top: 30px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
}

.slideItems {
    width: 98%;
}

.slideButton {
    position: absolute;
    width: 8%;
    height: 13%;
    margin: 0;
    padding: 0;
    top: 63px;
    right: -40px;
}

.backButton {
    transform: scale(-1, 1);
    left: -40px;
}

/*----------ABOUTME----------*/

.aboutmeBox {
    margin-top: 100px;
    height: 500px;
}

.aTextBox {
    position: absolute;
    right: 0;
    margin: 5% 10% 0% 0%;
}

.amBox {
    position: absolute;
    bottom: 0px;
}

.amBoxLayer {
    position: absolute;
    left: 0;
    bottom: 0;
    animation-duration: 1.5s;
    animation-name: BleftToCenter;
    animation-fill-mode: forwards;
}

.amBox img {
    width: 500px;
}

.aboutmeBox h3 {
    line-height: 100px;
}

/*----------FOOTER----------*/

footer {
    background-color: black;
    position: absolute;
    padding-top: 10px;
    bottom: 0;
    width: 100%;
    height: 35px;
    color: white;
    text-align: center;
}

/*----------RESPONSIVE----------*/

@media screen and (min-width:1810px){
    .keyImage{
        transition-duration: 1s;
        clip-path: polygon(0 0, 100% 0, 100% 1000px, 0 1000px);
    }
    .content{
        transition-duration: 1s;
        top: 920px;
    }
    .titleLogo{
        transition-duration: 1s;
        top: -550px;
        right: 760px;
    }
    @keyframes UleftToCenter {
        15% {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
        }
        100% {
            clip-path: polygon(100% 0, 100% 0, 100% 1000px, 0 100%, 0 1000px);
        }
    }
}